body {
background-image:url(../images/circle.png);
background-repeat:repeat;
}

#container {
	width:960px;
	background-color: white;
	margin: 0 auto 0 auto;
	box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 1); 
}

#main-header {
	background: #fccccc; /* Old browsers */
	background: -moz-linear-gradient(top,  #fccccc 0%, #febbbb 9%, #ff5c5c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fccccc), color-stop(9%,#febbbb), color-stop(100%,#ff5c5c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fccccc 0%,#febbbb 9%,#ff5c5c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fccccc 0%,#febbbb 9%,#ff5c5c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fccccc 0%,#febbbb 9%,#ff5c5c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fccccc 0%,#febbbb 9%,#ff5c5c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccccc', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */

	height: 150px;
	position:relative;
	
}

#my-logo {
	position: absolute;
	top: 15px;
	right: 40px;
	width: 120px;
	height : 120px;
}

#my-logo-2 {
	display: block;
	width: 120px;
	height: 120px;
	position: absolute;
	top: 15px;
	right: 40px;
	text-indent: -9999px;
}

#my-name {
	position: absolute;
	top: 70px;
	right: 200px;
	font-family:Rum Raisin, sans-serif;
	font-size: 40px;
}

#my-name a {
	text-decoration: none;
	/*text-transform :uppercase;*/
	color: white;
	text-shadow: 2px 2px 1px #000000;
	
}



#main-nav {
	background-color: #D8BFD8;
}

ul#main-nav-ul {
	margin:0;
	padding: 0;
	list-style-type: none;
}

ul#main-nav-ul li {
	float: left;
}

ul#main-nav-ul li a {
	display: block;
	padding: 10px 50px;
	border: 2px solid white;
	background-color: pink;
	color: black;
	text-decoration: none;
	border-radius: 10px;
	border-radius-bottomright: 50px;
	border-radius-bottomright: 50px;
	border-bottom-right-radius: 50px;
	font-family: 'Merriweather Sans', sans-serif;
	font-size:14px;
}

ul#main-nav-ul li a:hover {
	background-color: #f37373;
	color:black;
	border: 2px solid black;
}




#main-content-wrapper {
	clear:both;
	height:500px;
}


#main-content {
	
	width: 600px;
	float: left;
	font-family: 'Merriweather Sans', sans-serif;
	font-size:13px;padding: 20px;
	text-align:justify;
	
}

#main-content-image{
	width: 340px;
	height : 120px;
	padding: 3px;
	float:left;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
	padding: 5px;
	margin: 0px 9px 5px 0px;
}
#side-content {
	width: 300px;
	float:left;
	margin:4px 0x 0px 4px;
	font-family: 'Merriweather Sans', sans-serif;
	font-size:13px;
	border-left: 3px solid #fccccc;
}

#side-content p,h4{
	padding-left:4px;
}

#side-content  .side-images{
	margin-top:3px;
	margin-left:35px;
	padding:4px;
	width: 240px;
	height : 120px;
	float:top;
}

#side-content table{
	border: 1px groove pink;
	margin-left:25px;
	margin-bottom:35px;
	padding: 5px;
}

#side-content th,td{
	border: 1px groove pink;
	margin-left:25px;
	margin-bottom:35px;
	padding: 5px;
}

#main-footer {
	background: #febbbb; /* Old browsers */
background: -moz-linear-gradient(top,  #febbbb 0%, #fcd6d6 51%, #ff5c5c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febbbb), color-stop(51%,#fcd6d6), color-stop(100%,#ff5c5c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #febbbb 0%,#fcd6d6 51%,#ff5c5c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #febbbb 0%,#fcd6d6 51%,#ff5c5c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #febbbb 0%,#fcd6d6 51%,#ff5c5c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #febbbb 0%,#fcd6d6 51%,#ff5c5c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
	clear:left;
	height: 120px;
	border: 4px groove #fccccc;
}

#footer-title{
	font-family: 'Merriweather Sans', sans-serif;
	font-size:13px;
	margin: 15px 0px 0px 15px;
	padding:3px;
	text-align:center;
}

#telephone{
font-family: 'Merriweather Sans', sans-serif;
	font-size:13px;	
	margin-left: 15px;
	
	text-align:center;
}

#email{
font-family: 'Merriweather Sans', sans-serif;
	font-size:13px;
	margin-left: 15px;
	
	text-align:center;
}
.clear-float{
	clear:both;
}
	

.assign5_th{
	border: 1px groove pink;
	margin-left:25px;
	margin-bottom:35px;
	padding: 5px;
	background-color:#E6E6FA;
}


#main-content-assignment5{
width: auto;
	float: left;
	font-family: 'Merriweather Sans', sans-serif;
	font-size:13px;
	padding: 20px;
	text-align:center;
	}
	
#main-content-assignment5 col.planet_name {
	background-color: #E6E6FA;
	font-weight:bold;
	
}