/* 
    Document   : MP1_JSP_css
    Created on : Sep 29, 2013, 3:09:05 PM
    Author     : Tejal
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    
}
body
{
height: 700px;
background: #e4f5fc; /* Old browsers */
background: -moz-linear-gradient(top,  #e4f5fc 0%, #bfe8f9 74%, #9fd8ef 100%, #2ab0ed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(74%,#bfe8f9), color-stop(100%,#9fd8ef), color-stop(100%,#2ab0ed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 74%,#9fd8ef 100%,#2ab0ed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 74%,#9fd8ef 100%,#2ab0ed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 74%,#9fd8ef 100%,#2ab0ed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e4f5fc 0%,#bfe8f9 74%,#9fd8ef 100%,#2ab0ed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */

background-repeat: repeat;


}

h1, h2{
    
    text-align: center;
    
    font-family: 'Strait';
    
}

h5{
    font-family: 'Strait';
    
}


ul#menu {
	margin-left:350px;
        
        margin-top: 50px;
	padding: 0;
	list-style-type: none;
        width: 500px;
}

ul#menu li a {
	display: block;
	padding: 10px 50px;
        border: 1px solid #999999;
	background-color: transparent;
	color: black;
	text-decoration: none;
	border-radius: 10px;
	border-radius-bottomright: 50px;
	border-radius-bottomright: 50px;
        
	font-family: 'Strait';
	font-size:22px;
        text-align: center;
        text-transform: capitalize;
        margin-left: 20px;
}

ul#menu li a:hover {
	background-color: lightseagreen;
	color:black;
	border: 2px solid black;
}

#tableRecords_th{
	border-bottom: 1px dashed #FF6347;
	 padding: 15px;
	color: black;
	background-color:none;
}


#tableRecords{
	width: auto;
	float: left;
	font-family: 'Calibri', sans-serif;
	font-size:15px;
	padding: 8px;
	text-align:center;
        
	}

#tableRecords table{

	border-top: 1px solid black;
	

}

#tableRecords td{

	background-color: #FFE1FF;
	padding: 7px;
	border-bottom: 1px solid white;
        font-family:"Strait";
}


#tableRecords a:hover{

	text-transform: uppercase;
	background-color: black;
	color:#FF6347;


}



#formtable  {
    
    margin-left: 450px;
   font-family: "Strait";
   
}